<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QR Code Scanner</title>
        <link href="https://fonts.googleapis.com/css?family=Baufra:700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
        <script src="/html5-qrcode.min.js"></script>
    <!-- Corrected href attribute -->
    <style>
        .container {
            
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qr-code{
    
    width: 500px;
    height: 100;
    font-family: 'trebuchet ms', sans-serif;
    border-radius: 10px;
    background-color: aliceblue;
}
  
body {
    /* Adjust the size of the image */
    box-shadow: 0 0 15px 10px rgba(0, 255, 0, 0.7); /* Green glow */
    border-radius: 10px; /* Optional: rounded corners */
    background-color: #24c072;
}

h1{
    
    color: rgb(19, 18, 18);
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
    font-family: 'Baufra', sans-serif;
}


img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px; /* Set a width for the image */
}
</style>
</head>
<body>
    
    <div class="container"> 
        <img src="/logao.png" alt="Logotipo">
        <h1>LEITOR DE QR CODE PARA OS</h1>
        
        <div class="qr-code" id="reader"></div> 
        
        <div  id="result"></div> 
    </div>
    
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // Display the result
            document.getElementById('result').innerHTML = `Scanned result: ${decodedText}`;
            
            // Check if the decodedText is a URL
            if (isValidUrl(decodedText)) {
                // Open the URL in a new tab
                window.open(decodedText, '_blank');
            }
        }
        
        function onScanFailure(error) {
            console.warn(`QR code scan failed. Reason: ${error}`);
        }

        // Function to check if the scanned text is a valid URL
        function isValidUrl(string) {
            try {
                new URL(string);
                return true;
            } catch (_) {
                return false;
            }
        }

        // Start the QR code scanner using the webcam
        let html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>
</body>
</html>
